

.left{
    max-width: 50vw;
    list-style: none;
    justify-content: space-between;
    margin: auto;
    cursor:pointer
}
.main-header{
    margin: auto;
    
}
.upper-nav{
  max-width: 100vw;
  background-color: #eee;

}
