.lowerNav {
    max-width: 100vw;
    height: 40px;

    border-bottom: 0.5px solid #eee;
}

.lowerNavObjects {
    max-width: 500px;
    margin: auto;
}

.marginLowerNav {
    padding-top: 10px;
}

.manDropdown {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 471px;
    height: 300px;
    z-index: 1;
    border-radius: 3%;
    border: solid #eee;
    margin: 12px -82px;
    padding: 20px;
    transition: all 1.5s ease;
}

.man:hover .manDropdown {
    display: block;

}


.womanDropdown {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 471px;
    height: 300px;
    z-index: 1;
    border-radius: 3%;
    border: solid #eee;
    margin: 12px -213px;
    padding: 20px;
}

.woman:hover .womanDropdown {
    display: block;
}

.kidDropdown {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 471px;
    height: 300px;
    z-index: 1;
    border-radius: 3%;
    border: solid #eee;
    margin: 12px -365px;
    padding: 20px;
}

.kid:hover .kidDropdown {
    display: block;
}

.dropDown li:hover a {
    background-color: #f1f1f1;
}

.dropDown li a {
    color: black;
    padding: 10px 16px;
    display: block;
    /* width: 8.52vw; */
    font-size: small;
    font-weight: 100;
}

.dropDown li {
    display: flex;
    height: 40px;
    list-style: none;
}

.dropDown h4 {
    padding-left: 20px;
    padding-top: 3px;
}

.cursurPointer {
    cursor: pointer;
}

/* .dropDown{position: fixed;} */