<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="resetPassword.css">
</head>

<body>
    <form action="/resetPassword" method="post">
        <div style="display: flex;justify-content: center;align-items: center;height: 100vh;width: 100vw;">
            <div class="mainbox">
                <div class="left">
                    <div style="height: 70%;width: 70%;display: flex;justify-content: center;align-items: center;flex-direction: column;">
                        <div class="reset">Reset Password</div>
                        <div class="choose">Please choose your password</div>
                        <div class="newPassword">New Password</div>
                        <input type="text" name="newPassword"  class="new" placeholder="   Enter your new password">
                        <div class="confirmPassword">Confirm Password</div>
                        <input type="text" name="confirmPassword" class="new" placeholder="   Confirm your password">
                        <button type="submit" class="subb">Save New Password</button>
                    </div>
                </div>
                <div class="right"></div>








            </div>
        </div>
    </form>

</body>

</html>