@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Urbanist:wght@400&family=Work+Sans:wght@200&display=swap'); 


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Urbanist' ;
    letter-spacing: 1px;
    font-size: 15px;
}
body{
    
    height: 100vh;
    width: 100vw;
    background-color: rgb(185, 236, 224);
}
.mainbox{
    display: flex;
    height: 38em;
    width: 65em;
    border: 2px solid rgb(42,157,143) ;
    box-shadow:   0 5px 15px rgb(0 2 0 / 0.2);
    
    
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38em;
    width:42%;
    background-color: whi;
    flex-direction: column;
}
.right{
    height: 38em;
    width:58%;
    background-color: rgb(42,157,143);
}
.reset{
    font-size: 34px;
   
}
.choose{
    margin-top: 5px;
    /* color: rgb(196, 238, 238); */
}
.newPassword{
    margin-top: 30px;
    margin-left:-166px ;
    
}
.new{
    margin-top: 5px;
    margin-left:-9px ;
    height: 40px;
    width: 245px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    border:2px solid rgb(172,197,194);
    padding-left: 20px;
    
}
.new:hover {
    border: 2px solid rgb(42,157,143);
}
.confirmPassword{
    margin-top: 10px;
    margin-left:-139px ;
}
.subb{
    margin-top:10px ;
    height: 40px;
    width: 267px;
    
    background-color: rgb(42,157,143);
    border-radius: 10px;
    color: #fff;
    border: 0px solid rgb(42,157,143);
    margin-left:-9px ;
    cursor: pointer;
}

.pimg{
    height: 48%;
    width: 55%;
    
   
    
}
