*{
    margin: 0px;
    padding: 0px;
}
body{
    
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(38, 70, 83); */
}
.mainbox{
    display: flex;
    height: 38em;
    width: 65em;
    box-shadow:   0 3px 10px rgb(0 0 0 / 0.2);;
    
    
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38em;
    width:42%;
    /* background-color: #da1919; */
    flex-direction: column;
}
.right{
    height: 38em;
    width:58%;
    background-color: #fff2e6;
}
.reset{
    font-size: 1.5em;
   
}
.choose{
    margin-top: 5px;
    /* color: rgb(196, 238, 238); */
}
.newPassword{
    margin-top: 30px;
    margin-left:-183px ;
    
}
.new{
    margin-top: 5px;
    margin-left:-9px ;
    height: 40px;
    width: 20em;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    border:2px solid rgb(172,197,194);
    
}
.new:hover {
    border: 2px solid rgb(42,157,143);
}
.confirmPassword{
    margin-top: 10px;
    margin-left:-160px ;
}
.subb{
    margin-top:10px ;
    height: 40px;
    width: 20em;
    
    background-color: rgb(42,157,143);
    border-radius: 10px;
    color: #fff;
    border: 0px solid rgb(42,157,143);
    margin-left:-9px ;
}


