.middle_text{
    margin-top: 15px;
    margin-left: 25px;
    color:rgb(38, 70, 83);
}
#e{
    margin-top: 5px;
    margin-left: 25px;
    height: 40px;
    width:245px;
    border-radius: 10px;
   outline: none;
    border:2px solid rgb(172, 197, 194);
    
}
.lower_middle_text{
    margin-top: 15px;
    margin-left: 25px;
    color:rgb(38, 70, 83);
}
#ph-n{
    margin-top: 5px;
    margin-left: 25px;
    height: 40px;
    width:245px;
    border-radius: 10px;
   outline: none;
    border:2px solid rgb(172, 197, 194);
    
}
#ph-n:hover  {
    border: 2px solid rgb(42, 157, 143);
  }
  #e:hover  {
    border: 2px solid rgb(42, 157, 143);
  }
  .sign{

    padding-left: 20px;
  }
  .name-pop{
    position: absolute;
    margin-left: 25px;
    font-size: 12px;
    color: red;
  }
  #notification-container {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

.notification {
    display: block;
    position: relative;
    padding: 15px 15px 15px 60px;
    overflow: hidden;
    width: 250px;
    border-radius: 5px;
    color: #fff;
    -webkit-animation: show-notification 3s ease-out;
    animation: show-notification 3s ease-out;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-iteration-count: 1;
    opacity: 0;
    top: 105px;
  right: 204px;
  z-index: 3;
}
.forgetnotification{
    display: block;
  position: relative;
  padding: 15px 15px 15px 60px;
  overflow: hidden;
  width: 250px;
  border-radius: 5px;
  color: #fff;
  -webkit-animation: show-notification 3s ease-out;
  animation: show-notification 3s ease-out;
    animation-iteration-count: 1;
  animation: name duration timing-function delay iteration-count direction fill-mode;
  animation-iteration-count: 1;
  opacity: 0;
  top: 155px;
  right: 596px;
  z-index: 3;
}

.notification-close {
    padding: 0;
    cursor: pointer;
    background: none;
    border: 0;
    outline: none;
    -webkit-appearance: none;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #fff;
    text-shadow: 0 1px 0 #ddd;
}

.notification-close::before {
    font-family: 'FontAwesome';
    font-size: 12px;
    font-weight: normal;
    content: '\f00d';
}

.notification-close:hover {
    color: #666;
}

.notification-title {
    font-size: 1.1em;
    font-weight: bold;
}

.notification-success::before,
.notification-successed::before,
.notification-error::before,
.notification-info::before,
.notification-warning::before {
    font-family: 'FontAwesome';
    font-size: 35px;
    display: block;
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.notification-success {
    background-color: #006400;
}

.notification-successed {
    background-color: #006400;
}

.notification-success::before {
    content: '\f058';
}

.notification-successed::before {
    content: '\f058';
    bottom: -12.2px;

}

.notification-error {
    background-color: #e85656;
}

.notification-error::before {
    content: '\f057';
}

.notification-info {
    background-color: #2dacd1;
}

.notification-info::before {
    content: '\f05a';
}

.notification-warning {
    background-color: #dfb81c;
}

.notification-warning::before {
    content: '\f071';
}

@-webkit-keyframes show-notification {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -100%);
    }
    10% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -100%);
    }
}

@keyframes show-notification {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -100%);
        transform: translate(0, -100%);
    }
    10% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -100%);
        transform: translate(0, -100%);
    }
}